extends layout

block content

	p Hi, dear user!
	span Below you can see a list of games to play

	//empty game with id 0
	if games.length > 1
		//make a loop for games
		- for (var i = 1; i < games.length; i++)
			p
				a(href='/games/#{i}') Game ##{i}
	else
		div But, unfortunately, we can't find any games, that you can play, so you can create a new one.
		div
			form(action="/create", method="post")
				p Fill in size of field
				input#fieldsize(type="text", name="fieldsize")
				input#start(type="submit", value="Start game!")
